<h1>Your dives</h1>
<hr>
<% current_user.dives.each do |dive| %>
  <p><a href='/dives/<%= "#{dive.id}" %>'>
    <%= "#{dive.location.name}"%> on <%= "#{dive.datetime}"%>
  </a></p>
<% end %>

<form action='/dives/new' method='get'>
  <button>New Dive</button>
</form>