<h1>Your dives</h1>
<hr>
<% @diver.dives.each do |dive| %>
  <p><%= "#{dive.location.name}"%> <%= "#{dive.datetime}"%></p>
<% end %>

<form action='/dives/new' method='get'>
  <input type='submit' name='submit' value='New Dive'>
</form>