<h1>Your dives</h1>
<hr>
<% @diver.dives.each do |dive| %>
  <p><a href='/dives/<%= "#{dive.id}" %>'>
    <%= "#{dive.location.name}"%> on <%= "#{dive.datetime}"%>
  </a></p>
<% end %>

<form action='/dives/new' method='get'>
  <input type='submit' name='submit' value='New Dive'>
</form>