<h1>Add a dive</h1>

<form action="/dives" method="post" >
  <p>
    <label for='date'>Date*</label>
    <input type='text' id='date' name=[dive[datetime]]>
  </p>
  <p>
    <label for='location'>Location*</label>
    <select name=dive[location_id]>
      <% Location.all.each do |location| %>
        <option value='<%= location.id%>'><%= location.name%></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for='duration'>Duration* (minutes)</label>
    <input type='text' id='duration' name=[dive[duration]]>
  </p>
  <p>
    <label for='max_depth'>Maximum depth* (feet)</label>
    <input type='text' id='max_depth' name=[dive[max_depth]]>
  </p>
  <p>
    <label for='starting_pressure'>Starting pressure* (psi)</label>
    <input type='text' id='starting_pressure' name=[dive[starting_pressure]]>
  </p>
  <p>
    <label for='final_pressure'>Final pressure* (psi)</label>
    <input type='text' id='final_pressure' name=[dive[final_pressure]]>
  </p>
  <p>
    <label for='ballast'>Ballast (lbs)</label>
    <input type='text' id='ballast' name=[dive[ballast]]>
  </p>
  <p>
    <br><label for='comments'>How was it? </label><br>
	  <textarea type="text" name="dive[comments]" id="comments" rows="20" 
              cols="100"></textarea>
  </p>

  <button>Add Dive</button>
</form>	