body {
  width: 1000px;
  margin: 0 auto;
}

/******** Navbar *************/
#navbar ul
{
padding-left: 0;
margin-left: 0;
background-color: #036;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}

#navbar ul li { display: inline; }

#navbar ul li a
{
padding: 0.2em 1em;
background-color: #036;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

.navbar-right {
  float: right;
}

#navbar ul li a:hover
{
background-color: #369;
color: #fff;
}

/************* Validation Errors **************/
#errors {
  color: red;
}