<h3>Please log in</h3>

<form action="/login" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <button>Log In</button>
</form>