<h1>Welcome to Dive Logger!</h1>

<p>
  If you're a SCUBA diver, you know that there's a lot of information to keep track of.  
  This app provides you the ability to store those data on the web, where you can access it from anywhere.  
  Even if you forget your diving logbook.  I'm sure that's never happened to you.
</p>

<p>
  For safety reasons, each diver is identified by their email address and a password.  
  Once logged in, a Diver can add new locations, and keep track of their dives, including the 
  key parameters of location, max_depth, duration, initial tank pressure, final tank pressures, ballast, 
  along with helpful comments about what kind of day it was, or what you had for breakfast.
</p>

<p>
  Locations can be added by any registered Diver, but can only be modified or deleted if there are no Dives associated 
  with that location.
</p>

<% if !logged_in? %>
  <p>
    A guest account has been created for you so that you can look around.
  </p>

  <form action="/login" method="post">
    <input type="hidden" name="email" id="email" value='guest'>
    <input type="hidden" name="password" id="password", value='guest'>
    <input type='submit' name='submit' id='submit' value='Log In As Guest'>
  </form>
<% end %>