<!DOCTYPE html>
<html>
  <head>
    <title>Dive Logger</title>
  </head>

  <body>
  <div class='.navbar'>
    Dive Logger
      <a href='/'>Home</a>
      <% if logged_in? %>
        <a href='/logout'>Logout</a>
      <% else %>
        <a href='login'>Login</a>
        <a href='/signup'>Sign Up</a>
      <% end %>
  </div>
  <hr>

    <%= yield %>
  </body>
</html>