<!DOCTYPE html>
<html>
  <head>
    <title>Dive Logger</title>
  </head>

  <body>
    <div class='.navbar'>
      Dive Logger
        <a href='/'>Home</a>
        <% if logged_in? %>
          <p>Welcome  <%= current_user.name %></p>
          <a href='/logout'>Logout</a>
        <% else %>
          <span>Please <a href='login'>Login</a> or <a href='/signup'>Sign Up</a></span>
        <% end %>
    </div>
    <hr>

    <% if flash.has?(:message) %>
      <div class='errors'>
        <%= validation_messages %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>