<!DOCTYPE html>
<html>
  <head>
    <title>Dive Logger</title>
  </head>

  <body>
    <div class='.navbar'>
      Dive Logger
      <ul>
        <li><a href='/'>Home</a></li>
        <% if logged_in? %>
          <li><a href='/logout'>Logout</a></li>
          <li><a href='/dives'>Your dives</a></li>
          <li><a href='/locations'>Dive locations</a></li>
          <li><span>Welcome  <%= current_user.name %></span></li>
        <% else %>
          <li><a href='login'>Login</a></li>
          <li><a href='/signup'>Sign Up</a></li>
        <% end %>
      </ul>
    </div>
    <hr>

    <% if flash.has?(:message) %>
      <div class='errors'>
        <%= validation_messages %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>