<!DOCTYPE html>
<html>
  <head>
    <title>Dive Logger</title>
    <link rel='stylesheet' href='../../public/styles.css'/>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id='navbar'>
      <ul id='navlist'>
        <li><a href='/'>Dive Logger</a></li>
        <% if logged_in? %>
          <li><a href='/dives'>Your dives</a></li>
          <li><a href='/locations'>Dive locations</a></li>
          <li class='navbar-right'><a href='/logout'>Logout</a></li>
          <li class='navbar-right'><a href='/'>Welcome,  <%= current_user.name %></a></li>
        <% else %>
          <li><a href='/login'>Login</a></li>
          <li><a href='/signup'>Sign Up</a></li>
          <li class='navbar-right'><a href='/login'>Please log in</a></li>
        <% end %>
      </ul>
    </div>
    <hr>

    <% if flash.has?(:message) %>
      <div class='errors'>
        <%= validation_messages %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>