<h1>All Current Locations</h1>
<hr>
<% Location.all.each do |location| %>
  <a href='/locations/<%= "#{location.slug}" %>'>
    <p><%= "#{location.name}" %>: <%= "#{location.city}, #{location.country}"%></p>
  </a>
<% end %>

<form action='/locations/new' method='get'>
  <input type='submit' name='submit' value='New Location'>
</form>