<h1>Add a location</h1>

<form action="/locations" method="post" >
  <p>
    <label for='name'>Name*: </label>
    <input type='text' id='name' name=[location[name]]>
  </p>

  <p>
    <label for='city'>City*: </label>
    <input type='text' id='city' name=[location[city]]>
  </p>
    <p>
    <label for='country'>Country*: </label>
    <input type='text' id='country' name=[location[country]]>
  </p>

  <p>
    <label for='category'>Category: </label>
    <input type='text' id='category' name=[location[category]]>
  </p>
  

  <p>
    <br><label for='description'>Description</label><br>
	  <textarea type="text" name="location[description]" id="description" rows="20" 
              cols="100"></textarea>
  </p>

  <button>Add Location</button>
</form>	